/*p.a {
	padding-left: 800px;
	margin-top: 400px;
}*/

html, body {
  height: 100%;
  margin: 0;
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.a {
  text-align: center;
}

.a {
  text-align: center;
  font-size: 2em; /* Double la taille du texte */

}

a:visited{
	color: white;
}

html {

  background-color: black;
}